requests
pandas
openpyxl
streamlit
streamlit-extras
matplotlib
Pillow
astropy
astroquery
beautifulsoup4
cartopy
google-genai
grokipedia-api
langchain-community
langchain-core
langchain-googledrive
playwright
owslib
sscws
