requests
pandas
numpy
openpyxl
xlrd
streamlit
streamlit-extras
streamlit-js-eval>=1.0.0
plotly
pydeck>=0.8.0
matplotlib
mistralai==2.4.5
opentelemetry-api==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
beautifulsoup4
Pillow
anthropic
astropy
astroquery
sscws
OWSLib
openai
cartopy
shapely
pyproj
google-genai
grokipedia-api
langchain-core
langchain-community
langchain-text-splitters
langchain-googledrive
langchain-openai
langchain-google-genai
langchain-mistralai
langchain-huggingface
langchain-chroma
langchain-pinecone
arxiv
wikipedia
playwright
xai-sdk
sentence-transformers
chromadb
llama-cpp-python
unstructured
mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-autorefs
pymdown-extensions
black
pinecone